<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nguyen Kim Thong</title>
    <link rel='stylesheet' href='/stylesheets/stylepr.css' />
</head>

<body>
<div>
    <h1>I'm Thong</h1>
    <p>My life is full of troubles, so how can I dream of being lucky enough to be complete with you?</p>
    <p>Độc thân, tính thì không biết cậu có thấy vui không?</p>
    <p>Cậu đã mất công vào đây rồi sao không nhắn cho tôi 1 câu để message nó teng teng nhể?</p>
    <a href="https://m.me/thongahihi?hash=AbY7yaLiRGMS4qo8&source=qr_link_share">Bấm đây nhé!</a>
    <img src="" alt="">
</div>

<div class="thumbnail-container">
    <img id="large-image" src="" alt="Large Image">
    <div class="thumbnails" style="margin-bottom:100px ;"></div>
    <div class="tree">
        <div class="tree-trunk"></div>
    </div>
</div>
    <script>
        const images = {
            image1: './images/image.jpg',
            image2: './images/image1.jpg',
            image3: './images/image2.jpg',
            image4: './images/image3.jpg',
            image5: './images/image4.jpg',
            image6: './images/image5.jpg',
            image7: './images/image6.jpg',
            image8: './images/image7.jpg',
            image9: './images/image8.jpg',
            // image10: './images/image9.jpg',
        };

        const largeImage = document.getElementById('large-image');
        const thumbnailsContainer = document.querySelector('.thumbnails');

        Object.values(images).forEach(src => {
            const img = document.createElement('img');
            img.src = src;
            img.alt = 'Thumbnail';
            img.classList.add('thumbnail');
            img.addEventListener('mouseover', () => {
                largeImage.src = src;
            });
            thumbnailsContainer.appendChild(img);
        });
        largeImage.src = images.image1;

        // Automatically change the large image every 3 seconds

        // Set the initial large image
        largeImage.src = images.image1;
    </script>
</body>

</html>