body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;

}
button {
  background-color: #00B7FF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0095cc;
}
input[type="text"] {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1em;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
 }
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
a {
  color: #00B7FF;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0095cc;
}